{% extends "base.html" %}

{% block content %}
<br>
    <div class="container">
    <h3>Log In <small class="text-muted">to create a listing!</small></h3>
    <hr>
    <div class="row">
        <div class="col">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}" class="mx-auto">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_username">Username</label>
                        <input class="form-control" type="text" name="username" id="id_username" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label for="id_password">Password</label>
                        <input class="form-control" type="password" name="password" id="id_password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <input type="submit" value="login" class="btn btn-success">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
