{% extends 'base.html' %}


{% block content %}
<br><br>
<div class="container">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        <div class="row">
    
          <div class="col-lg-3">
    
            <h1 class="my-4">Rent-a-Space</h1>
            <div class="list-group">
              <a href="#" class="list-group-item">San Francisco</a>
              <a href="#" class="list-group-item">New York</a>
    
            </div>
    
          </div>
          <!-- /.col-lg-3 -->

        
    
          <div class="col-lg-9">
              {% if listings %}
            <div class="row">
                {% for listing in listings %}
                  {% include "listings/partials/listing_card.html" %}
                {% endfor %}   

            </div>
            <!-- /.row -->
            {% else %}
              <div class="alert alert-primary" role="alert">No listings to display.</div>
            {% endif %}
          </div>
          <!-- /.col-lg-9 -->
    
        </div>
        <!-- /.row -->
    
      </div>

{% endblock content%}