<div class="col-lg-4 col-md-6 mb-4">
        <div class="card rounded shadow-sm border-0">
          <a href="product_page"><img class="card-img-top" src="https://images.unsplash.com/photo-1465932681967-a5fbe6fce79f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a class="text-dark" href="product_page">Space One</a>
            </h4>
            <h5>$24.99/month</h5>
            <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0">
        <a href="product_page"><img class="card-img-top" src="https://images.unsplash.com/photo-1417816491410-d61e1546e539?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a class="text-dark" href="product_page">Space Two</a>
          </h4>
          <h5>$24.99/month</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9734; &#9734;</small>
        </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0">
        <a href="product_page"><img class="card-img-top" src="https://images.unsplash.com/photo-1462826303086-329426d1aef5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjM0MTM2fQ&auto=format&fit=crop&w=700&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a class="text-dark" href="product_page">Space Three</a>
          </h4>
          <h5>$24.99/month</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9734; &#9734; &#9734;</small>
        </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0">
        <a href="product_page"><img class="card-img-top" src="https://images.unsplash.com/photo-1542081403278-ba5973c25c7a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a class="text-dark" href="product_page">Space Four</a>
          </h4>
          <h5>$24.99/month</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6 mb-4">
      <div class="card rounded shadow-sm border-0">
        <a href="product_page"><img class="card-img-top" src="https://images.unsplash.com/photo-1567667867244-2eed283cb70a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a class="text-dark" href="product_page">Space Five</a>
          </h4>
          <h5>$24.99/month</h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card rounded shadow-sm border-0">
      <a href="product_page"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a class="text-dark" href="product_page">Space Six</a>
        </h4>
        <h5>$24.99/month</h5>
        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>



{% for listing in listings %}
  {% include "listing/partials/listing_card.html" %}
{% endfor %}