<div class="col-lg-4 col-md-6 mb-4">
    <div class="card rounded shadow-sm border-0">
      <a href="{% url 'listing-details-page' listing.slug %}"><img class="card-img-top" src="{{ listing.link_to_image }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a class="text-dark" href="{% url 'listing-details-page' listing.slug %}">{{ listing.title }}</a>
        </h4>
        <h5 class="text-muted">${{ listing.price_per_month }}/month</h5>
        <p class="small text-muted font-italic">{{ listing.description | truncatewords_html:10 }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
</div>